.paintPalette{
    display: flex;
    padding:5px;
    height:50px;
    border: 5px solid #92AFC2;
    border-radius: 5px;
    flex-direction: row ;
    align-items: stretch;
    gap: 5px;
}

.button{
    width: 100%;
    height: 100%;
    border : 1px solid #000000;
    border-radius: 100%;
}