 
html,body{
    margin:0;
    padding:0;
    height: 100%;
}

.container_shadow{
    width:80%;
    height:800px;
    margin:50px auto;
    display: flex;
}
.container{
    width: calc(100% - 20px);
    margin: auto;
    vertical-align: middle;
    height: calc(100% - 10px);
    background-color: white;
}