.simple_box{
    width: 300px;
    min-height: 400px;
    text-align: center;
    padding: 20px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
}
.simple_title{
    font-size: 40px;
    margin-bottom: 40px;
}
.simple_content{
    margin-bottom: 10px;
}
.simple_input_margin{
    margin-bottom: 10px;
}
.simple_button_container{
    display:flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.simple_button_box_left{
    text-align:left;
    width:50%;
}
.simple_button_box_right{
    text-align: right;
    width: 50%;
}
.simple_button{
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #A6A6A6;
}
.simple_button_noborder{
    border:none;
}
.simple_login_input{
    width: 100%;
    font-size: 14px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding: 5px;
}