@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('./fonts/GangwonEdu_OTFBoldA.woff');
  font-weight: normal;
  font-style: normal;
}

body,button,select {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: normal;
  font-style: normal;
} 